/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Main CSS */
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}
/*style of whole body*/
body{
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center; /* content is alligned to center*/
  background-color: #EFEFEF;
}
.nav {
  position: fixed; /*position of navigation bar is fixed */
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 150px;
  background: #343434;
  box-shadow: 0 4px 10px gray;
  z-index: 1;
}

/*styling of nav-limks of nav class*/
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}

/*styling of logo class inside of nav class*/
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

/*styling of nav-links class inside of nav class*/
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

/*styling of a attributes nav-links class inside of nav class*/
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

/*styling of search-icon class inside of nav class*/
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/*styling of search-box class inside of nav class*/
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #343434;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.nav .user-icon{
  font-weight: 10;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}

/* responsive */
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

/* responsive */
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* ___Services Designed By Omasanjuwa___ */
/* Using a flex box property to display the images in rows */
/* Idea gotten and modified from GreatStack and Mr. Web Designer's Youtube channels. */
.serv{
  padding-top: 100px;
}

.servrow{
  display: flex;
  flex-wrap: wrap;  /*--Allows content shift to page bottom--*/
  padding: 30px;
  margin-top: 2%;
  justify-content: space-between;
}

/*stlying h1 of serv class*/
.serv h1{
  text-align: center;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bolder;
}

/*stlyinh p within serv class*/
.serv p{
  text-align: justify;
  line-height: 20px;
  width: 80%;
  padding-left: 20%;
}

/*stlyinh servcol*/
.servcol{
  flex-basis: calc(30% - 20px);  /* Adjusted to fit content and allow proper breaking */
  border-radius: 30px;
  max-width: 366px;
  max-height: 350px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

/*stlying img of servcol class*/
.servcol img{
  width: 100%;
  height: 100%;
  display: block;
}

/*stlying layer class*/
.layer{
  height:100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center; 
  transition: 0.5s;
}

.layer:hover{
  color: rgb(65, 65, 65);
  background-color:rgba(49, 86, 121, 0.7); 
  transform: scale(1.02);
  letter-spacing: 0.2em;
}

/*stlyinh h2 within layer class*/
.layer h2{
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: 400;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h2{
  bottom: 50%;
  opacity: 1;
}


.layer a{
  text-decoration: none;
  width: 100%;
  color: white;
  font-weight: 400;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}


.layer:hover a{
  bottom: 30%;
  opacity: 1;
  letter-spacing: 0em;
  background-color: #343434;
  border: 1px solid white;
  width: 30%;
  padding: 0.5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* ----responsive sections for services. Got the idea from Mr. Web Designer's Youtube channel---- */
@media screen and (max-width: 768px){
  .servrow{
      flex-direction: column;

  }

  .servrow1{
    flex-direction: column;
  }
}

/* ---Design for each page about a service we offer--- */
.contentholder h1{
  margin-top: 3.5%;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  background-color: #343434;
  color: white;
  padding: 1%;
}

.contentholder P{
  padding: 2%;
  width: 100%;
  text-align: justify;
}

.steps{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #343434;
  padding: 1%;
  letter-spacing: 0.1em;
}

.contentholder .servcol1{
  border-radius: 2%;
  padding: 2%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
}

.contentholder .servcol h2{
  background-color: #343434;
  color: white;
}

.servrow1{
  display: flex;
  flex-wrap: wrap;  /*--Allows content shift to page bottom--*/
  padding: 30px;
  margin-top: 2%;
  justify-content: space-between;
}

.servcol1{
  flex-basis: calc(30% - 20px);  /* Adjusted to fit content and allow proper breaking */
  border-radius: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 768px){
  .contentholder h1{
    margin-top: 12.5%;
    
  }

}
/* ---Omasanjuwa's designs end here--- */




/* Academy CSS */
/* Please don't edit my code.... Rajesh */
/* Body Content */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 70px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {           /* Styling card-item class */
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {               /* gives the border to card-item class on hover */
  border: 2px solid #000;
}

.card-list .card-item img {                 /* Styles the image inside the card-item class */
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top:32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {             /* styles the color and background color of the class developer */
  background-color: #F7DFF5; 
  color: #B22485;
}   

.card-list .designer {              /* styles the color and background color of the class developer */
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {                 /* styles the color and background color of the class developer */
  background-color: #d6f8d6; 
  color: #205c20;
}

.card-item h3 {                     /* Styles the text h3 inside the card-item class */
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow-text {
  display: inline;
  color: #000
}

.card-item .arrow-text .arrow {
  /* Styles the arrow class providing position, height, width, color, border */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}
/* There is one error on this CSS which use is from https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css stylesheet. */
.card-list .card-item:hover .arrow  {
  /* styles the background color and color of the arrow on hover */
  background: #000;
  color: #fff; 
}

@media (max-width: 1200px) {      /* to make page responsive */
  .card-list .card-item {
      padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}



/* Portfolio CSS start: Simon */
html, main{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  /* so that the pages may not oerflow */
  overflow: hidden;
  /* extra things will hide */
}
#page{
  position: relative;           /* to take space of the page but ot the main */
  height: 80vh;
  width: 100vw;
  background-color: #efefef;
}

.card_description:hover{
  letter-spacing: 0.1em;
  cursor: default;
  border-bottom: solid 2px black;
  padding: 0;
}

#page>img{
  /* Styling the image prividing its position, and radiue */
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5%;
}
#text{          /* Styling the position, height and width of the container with id text */
  padding: 30px 50px;
  position: absolute;
  top: 15%;
  left: 10%;
  height: 65%;
  width: 45%;
}
#text>h1{         /* Styling the heading of the page */
  margin-top: 20px;
  font-size: 60px;
  line-height: 1;
}
#text>h2{
  /* Styling the text */
  font-size: 20px;
}
#text>h4{
  /* Styling the text */
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}
#text>h5{
  /* Styling the text */
  transform: rotate(-40deg);
  position: absolute;
  left: 4%;
  font-size: 20px;
}
#buttons{
  /* Styling the button container providing position, height and width */
  margin-left: 20px;
  position: absolute;
  left: 10%;
  bottom: 2%;
  height: 10%;
  width: 40%;
}
#buttons>button{        /* Styling the content inside the button, providing the border, background-colorand weight of font */
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: gray;
  font-weight: bold;
}
#buttons>button>i{
  font-size: 15px;
}
#page1{           /* Styling the 2nd container with id page1 */
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #efefef;
}
#page1>#right{         /* gives the position absolute and provide its position, height, width and background */
  position: absolute;
  right: 5%;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  background-color: #EFEFEF;
}
#page1>#right>.box{       /* Providing the size, background and border to the container with id box */
  display: inline-block;
  justify-content: center;
  height: 33.33%;
  width: 100%;
  background-color: #efefef;
  border-top: 2px solid black;
}
.box>h1{
padding: 10px 20%;
font-size: 30px;
}
.box>h4{
padding: 10px 20%;
font-weight: 20;
}
.circle{
  /* positioning absolutet to change its position, cutting the content arrow inside the circle to cente, aligning straight and provoding backgroumd and radius*/
position: absolute;
display: flex;
align-items: center;
justify-content: center;
right: 30%;
height: 2vw;
width: 2vw;
border-radius: 50%;
background-color: grey;
}
.circle>i{            /* Styling the arrow insoide the sircle */
color: #fff;
font-size: 20px;
}

.circle:hover{
  /* Changes the background color */
  background-color: #343434;
}

#page1>#leftpg1{
  /* Styling the leftpg1 container position and size */
position: relative;
height: 100%;
width: 50%;
}
#page1>#leftpg1>.expertise{
position: absolute;
margin-top: 60px;
left: 20%;
}
#page1>#leftpg1>.expertise>h3{    /* Styling the text */
font-size: 30px;
line-height: 55px;
}
#page1>#leftpg1>.expertise>p{     /* Styling the text */
  font-size: 20px;
font-size: 20px;
line-height: 40px;
}
#text1{
margin: 50px 50px;
height: 30%;
width: 80%;
}
.container{
max-width: 100rem;
margin-inline: auto;
padding-inline: 2rem;
background-color: #efefef;
}
#project_completed{
padding: 15px 30px;
font-size: 25px;
}

/* Utility Class */
.stacked{
display: grid;
}
.stacked>*{
/* puts the images and fonts together */
grid-column: 1/2;
grid-row: 1/2;
}
.stacked>img{     /* providing padding to image inside the card container */
padding: 0 2rem;
}
.card__content{
width: 400px;
background-color: lightgray;
align-self: end;
margin: 0.3rem 2rem;
padding: 0.3rem 2rem;
line-height: 25px;
}
.product-grid{
  /* Styling the grid, providing padding, gap and make its position change according the viewsize. */
padding-bottom: 20px;
display: grid;
gap: 1.5rem;
grid-template-columns: 
    repeat(auto-fit, minmax(27rem, 1fr));
}
.card{
   /* providing the card container background-color, border rasius and border type */
background-color: white;
border-radius: 2%;
border: 2px solid black;
}
@media only screen and (max-width: 1244px){        /* To make a responsive page-portfolio */
#page{
  height: 100vh;
}
#page>img{
  /* width: 300px; */
  left: 40%;
  top: 35%;
}
#buttons{
  bottom: 15%;
}
#text{
  top: 45%;
  width: 100%;
  left: 0;
}
.circle{
height: 3vw;
width: 3vw;
}
}
@media only screen and (max-width: 912px){      /* To make a responsive page-portfolio */
#page>img{
  width: 300px;
  left:35%;
  top: 30%;
}
.circle{
  right: 50%;
  height: 3vw;
  width: 3vw;
}
#project{
  height: 20%;
}
.p2{
  position: absolute;
  top: 100%;
}
.p3{
  position: absolute;
}
.projectsdone{
  width: 30%;
}
}
@media only screen and (max-width: 570px){        /* To make a responsive page-portfolio */
#page>img{
  left:15%;
  top: 30%;
}
#page1{
  height: 80vh;
}
.circle{
  right: 50%;
  height: 3vw;
  width: 3vw;
}
#page1>#leftpg1>.expertise>p{
  line-height: 27px;
}
.project_completed{
  padding-top: 20px;
}
.stacked>img{
  padding: 0;
}
.container{
  /* max-width: 100rem; */
  padding-inline: 0;
}
#page1>#leftpg1>.expertise>h3{
  font-size: 30px;
  line-height: 40px;
}
.card__content{
  margin: 0.3rem 0;
  padding: 0.3rem 0;
}
}
/* Portfolio CSS End Simon*/

/* About US CSS file starts*/
/*Kiran CSS starts*/
.about-us{
  width: 100%;
  padding: 0px;
  background: #fff;
  padding-bottom: 0px;
}

.about-us .about{
  margin: 0 auto;
  display: flex;  /* Using a flex box property to display the images in rows */
  align-items: center;
  justify-content: space-around;
}

.about .text{
  width: 80%;
  text-align: justify; /*text is aligned in justified allignment*/
  padding-top: 100px;
}

/*style h2 of text class inside the about class*/
.about .text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center; /*text is aligned in the center*/
}

/*style h3 of text class class*/
.text h3{
  font-size: 30px;
  margin-bottom: 10px;
}


/*style h5 of text class */
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center; /*text is aligned in the center*/
}

/*style p of text class class*/
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/*style the data class*/
.data{
  margin-top: 50px;
  padding-bottom: 0px;
}

/* Our Teams Here */
/*style h2 of team-member class*/
.team-member h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 20px;  
}

/*style myteam class*/
.myteam {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1250px;
  margin: 70px auto;
  padding: 20px;
  gap: 20px;
}

/*style team-iteam class of myteam class*/
.myteam .team-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.myteam .team-item:hover {
  border: 2px solid #000;
}

/*stlying img oof team-item class of myteam class*/
.myteam .team-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/*stlying span attributes of my team class*/
.myteam span {
  display: inline-block;
  background: #F7DFF5;
  margin-top:32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
} 

/*stlying designer class of myteam class*/
.myteam .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

/*stlying h3 of division class myteam*/
.myteam h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

/*stlying speciality class of myteam class*/
.myteam .speciality {
  display: inline;
  color: #000
}

/*Responsive*/
@media (max-width: 1200px) {
  .myteam .team-item {
      padding: 15px;
  }
}

/*about us css end*/


/* ___Footer___ */
/*Kiran Code starts */
/* Footer CSS */
.footer {
  width: 100%;
  background: #343434;
  border-bottom:1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

/*Style of footer row of footer class*/
.footer .footer-row {
  display: flex;
  justify-content: center; /*content aligning to center*/
  gap: 15rem;
  padding-bottom: 10px;
  padding-top: 20px;
}

/*Style of header h4 of footer row of footer class*/
.footer-row .footer-col h4 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/*Style of links of footer row of footer class*/
.footer-col .links {
  margin-top: 20px;
}
/*style of link om the link class*/
.footer-col .links li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

/*change in icon of a pointer during the time of hover*/
.footer-col .links li a:hover {
  color: #fff;
}

/*Style of icons class of footer icons of footer class*/
/*https://www.w3schools.com/css/css3_flexbox_responsive.asp*/
/*source for the icon: https://fontawesome.com/icons/categories/coding*/
.footer-icons .icons {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 50px;
  cursor: pointer;
  justify-content: center;
  font-size:24px;
}

.footer-icons .icons i {
  color: #afb6c7;
}

.footer-icons .icons i:hover  {
  color: #fff;
}

/*stlying h4 attributes of footer-icons class*/
.footer-icons h4 {
  color: #afb6c7;
  text-align: center;
  margin-bottom: 10px;
}
/*CSS for home by Sharmila starts here */
.homepage {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url("./media/Jrymcover.jpg"); /*image source https://unsplash.com/ */
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
.homepage .content { /*This is for the content that is inside the homepage*/
  padding-top: 25%;
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homepage .content .text {/*This styles the text class inside the homepage*/
  margin-bottom: 50px;
  color: white;
  /* color: rgb(5, 244, 168); */
  font-size: 20px;
  text-align: center;
  font-style: bold;
  text-shadow: 3px  3px  3px black,
  -3px -3px  3px black,
   3px -3px  3px black,
  -3px  3px  3px black;;
}
.homepage .content h1 {/* this is the style for h1 inside the content of the homepage*/
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* vision css starts here */
.vision { /*This is the style for all the contnets of the vision section*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.items { /*the style for the class item of the vision section*/
  flex-basis: 50%;
    padding: 20px;
}
.items h2{ /*the style for h2 of the class item */
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.vision .items img { /*the style for image of the class item */
    width: 75%;
    height: auto;
    max-width: 2000px;
    max-height: 3000px;
}

.items p{ /*the style for paragraph p of the class item */
  float: left;
  text-align: justify;
  line-height: 20px;
  width: 80%;
  padding-left: 20%;
}
/* responsive design for the vision section*/
@media screen and (max-width: 768px){
  .vision{
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}
/*The home section ends here excepth for the js part*/
/* CSS for the Surveying page by Sharmila starts here*/
/* Same Layout from the services main page is used with some changes */
.contentholder h1{
  margin-top: 3.5%;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  background-color: #343434;
  color: white;
  padding: 1%;
}
/*css for the surveying page image section*/
.contentholder P{
  padding: 2%;
  width: 100%;
  text-align: justify;
}

.steps{
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #343434;
  padding: 1%;
  letter-spacing: 0.1em;
}

/*stlying servcol class of contentholder class*/
.contentholder .servcol{
  border-radius: 2%;
  padding: 2%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
}

/*stlying h2 of servcol class of contentholder class*/
.contentholder .servcol h2{
  background-color: #343434;
  color: white;
}

/*responsive*/
@media screen and (max-width: 768px){
  .contentholder h1{
    margin-top: 12.5%;
    
  }

}

/*CSS for the surveying page ends here*/